<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.coffee.dao.IstuDentDao">

	<cache eviction="FIFO" flushInterval="60000" size="500" readOnly="true"></cache>

	 <select id="getStudent" resultType="Student">
    select * from student where id = #{id}
  </select>
    <select id="getStufromto" resultType="Student">
    SELECT * FROM student WHERE id &gt;= #{from} AND id&lt;= #{to}
      </select>
	
</mapper> 
